.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar_ul {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar_ul li {
  width: calc(98% / 3);
  text-align: center;
  border: 1px solid black;
  float: left;
  list-style-type: none;
  background-color: bisque;
  opacity: 100;
}

.navbar_ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

.fav {
  border: 1px solid black;
  width: 100%;
  margin: 0;
}

.fav ul {
  padding: 20px 0 20px 20px;
  margin: 15px 0 15px 0;
  border: 1px solid black;
}

.fav ul li {
  text-align: left;
  list-style-type: none;
}

.fav ul li:first-child {
  padding-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.tour {
  padding: 20px 0 20px 20px;
  margin: 15px 0 15px 0;
  border: 1px solid black;
}

.tour li {
  text-align: left;
  list-style-type: none;
}

.tour li:first-child {
  padding-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.info tbody tr {
  height: 40px;
}

.info tbody tr td {
  text-align: left;
}

.info tbody tr td:first-child {
  width: 20%;
  font-weight: bold;
}

.imgBox image {
  position: absolute;
}
